<h1>Admin Dashboard</h1>
<table>
<thead>
  <tr>
    <th>Categories</th>
    <th>Products</th>
  </tr>
  </thead>
  <tr>
    <td><%= @category.count %></td>
    <td><%= @products.count %></td>
    </tr>
</table>
