<h1>Admin &raquo; All Categories</h1>
<%# <%= @categories.inspect %> 

<div class="well">
    <%= link_to '+ New Category', [:new, :admin, :category], class: 'btn btn-info' %>
  </div>


<table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</td>
          <th>Category</td>
        </tr>
      </thead>
<tbody>
<% @categories.each do |cat| %>
          <%= render 'category', name: cat[:name], id: cat[:id] %>
          <% end %>
</tbody>
