<h1>ABOUT</h1>
<p> This is a store that sells cool things. If you buy stuff here you will be cool. You're friends will think you are cool. You will get a cool job. You will experience cool things. If you do not, the opposite will be true. </p>